body {
  background-image: url('./img.png');
  background-repeat: no-repeat;
  background-position: center fixed;
  background-size: cover;
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

image {
  width: 100%;
  height: auto;
}

h1{
  padding: 10px 10px 10px 10px;
  font-size: 50px;
  color: #c958db;
  text-align: center;
  margin: 25px;
}

.text-center{
  font-size: 15px;
  color: #c958db;
  text-align: center;
  margin: 25px;
}

a{
  color: #66b9d0;
}
