body {
  
  background-repeat: no-repeat;
  background-position: center fixed;
  background-size: cover;
  background-color:#d774e3;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

image {
  width: 100%;
  height: auto;
}

h1 {
    adding: 10px 10px 10px 10px;
    font-size: 50px;
    color: #490665;
    text-align: center;
    margin: 25px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 100px;
}
